nextflow.enable.strict = true
manifest {
    author = 'Manas Jyoti Das'
    name = 'hydra-nxf'
    description = 'A simple fastqc pipeline for hydra ndn'
    homePage = 'https://github.com/...'
    nextflowVersion = '>=23.10'
}

params {
        input = ""
        outDir = ""
}

profiles {

    conda {
            conda.enabled = true
            process.conda = 'bioconda::fastqc=0.11.8'
            process.conda = 'bioconda::samtools'
            process.conda = 'bioconda::sambamba'
            process.conda = 'bioconda::macs3'
            process.conda = 'bioconda::bowtie2'
            params.result = "$projectDir"
    }

    standard {
            nextflow.enable.strict = true
            params.result="$projectDir"
    }
}